volumes:
  postgres:
  pgadmin:

networks:
  backend:
    driver: bridge

services:
  postgres:
    container_name: pizzeria_postgres
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
      - ./db/docker_postgres_init.sql:/docker-entrypoint-initdb.d/docker_postgres_init.sql
    ports:
      - "${PG_PORT:-15432}:5432"
    restart: unless-stopped
    networks:
      - backend

  pgadmin:
    container_name: pizzeria_pgadmin
    image: dpage/pgadmin4:9.3
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    volumes:
      - pgadmin:/var/lib/pgadmin
      - ./db/docker_pgadmin_servers.json:/pgadmin4/servers.json
    ports:
      - "${PGADMIN_PORT:-15433}:80"
    entrypoint:
      - /bin/sh
      - -c
      - "/bin/echo 'postgres:5432:*:postgres:password' > /tmp/pgpassfile && chmod 600 /tmp/pgpassfile && /entrypoint.sh"
    restart: unless-stopped
    networks:
      - backend

  config-server:
    container_name: config-server
    build: ./config
    expose:
      - "8888"
    depends_on:
      - postgres
    networks:
      - backend

  eureka-server:
    container_name: eureka-server
    build: ./eureka
    expose:
      - "8761"
    depends_on:
      - config-server
    networks:
      - backend

  auth:
    container_name: auth-service
    build: ./auth
    expose:
      - "8083"
    depends_on:
      - postgres
      - config-server
      - eureka-server
    networks:
      - backend
    environment:
        - JWT_SECRET=${JWT_SECRET}

  menu:
    container_name: menu-service
    build: ./menu
    expose:
      - "8081"
    depends_on:
      - postgres
      - config-server
      - eureka-server
    networks:
      - backend
    environment:
      - JWT_SECRET=${JWT_SECRET}

  gateway:
    container_name: gateway
    build: ./gateway
    expose:
      - "8080"
    depends_on:
      - eureka-server
      - config-server
      - auth
      - menu
    restart: on-failure
    networks:
      - backend
    environment:
      - JWT_SECRET=${JWT_SECRET}

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - gateway
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - backend
